# Dependencies
node_modules/
.pnp/
.pnp.js

# Production build
dist/
build/

# Vercel local files
.vercel/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cache
.cache/
.vite/
.eslintcache
*.tsbuildinfo

# Editor settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp